<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden - Wantreez</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/mdb.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
    <div id="error">
        
<div class="container text-center pt-32">
    <img id="titleimg"style="width:30vw"src="./assets/images/gold_full_medium.png" alt="">
    <h1 style="margin-top: 80px;" >잘못된 접근입니다.</h1>
    <p>요청하신 페이지를 찾을 수 없습니다.</p>
    <a href="/" style="margin-top: 30px;"class='btn btn-primary'>Go Home</a>
</div>

        <div class="footer pt-32">
            <p class="text-center">Copyright &copy; Wantreez 2020</p>
        </div>
    </div>
</body>
</html>
