<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- style -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- script -->
    <script src="../public/javascripts/noti.js"></script>

</head>
<body>
    <section class="main">
        <div class="loginbox_big">
            <div class="title">
                    <div><img class="img_duck" src="../public/images/duck.png" alt=""></div>
                    <div class="main_title"><h1>RhymeDuck</h1></div><br>
                <div class="login">
                    <div class="IDPW1"><h2>ID</h2></div>
                    <div><input class="box1" type="text" placeholder="ID" value=""></div>
                    <div class="IDPW"><h2>PASSWORD</h2></div>
                    <div><input class="box2" type="password" placeholder="passsword" value=""></div>
                    <input class="log_button" type="button" value="로그인" onclick=noti()>
                    <input class="reg_button" type="button" value="회원가입">
                
                    <div class="find_pwd">비밀번호 찾기</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>