<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- style -->
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- script -->
    <script src="./javascripts/login.js"></script>

</head>
<body>
    <section class="main">
        <div class="loginbox_big">
            <div class="title">
                    <div><img class="img_wantreez" src="./images/gold_full_medium.png" alt=""></div>
                <div class="login">
                    <div class="IDPW1"><h2>Id</h2></div>
                    <div><input class="box1" type="text" placeholder="ID" name="21"></div>
                    <div class="IDPW"><h2>Password</h2></div>
                    <div><input class="box2" type="password" placeholder="passsword" name="13"></div>
                    <input class="log_button" type="button" value="로그인" onclick=login()>
                    <input class="reg_button" type="button" value="회원가입" onclick=register1()>
                </div>
            </div>
        </div>
    </section>
</body>
</html>