<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Wantreez</title>
    <link rel="stylesheet" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/mdb.min.css">
    <!-- <link rel="stylesheet" href="assets/css/mdb.min.css.map"> -->
    <link rel="stylesheet" href="./assets/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="./assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="./assets/css/app.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon"> -->
    <link rel="stylesheet" type="text/css" href="./assets/DataTables/datatables.min.css"/>
    <style>
        @media(max-width: 600px){
            #auth{padding-top: 20px;}
            
        }
    </style>
</head>

<body>
    <div id="auth">
        
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="./assets/images/gold_full_medium.png" height="35" class='mb-4'>
                        <h3>Sign Up</h3>
                        <p>Please fill the form to register.</p>
                    </div>
                   
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="first-name-column">Name</label>
                                    <input type="text" id="first-name-column" class="form-control"  name="fname-column">
                                </div>
                            </div>
                           
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="country-floating">ID</label>
                                    <input type="text" id="country-floating" class="form-control" name="country-floating">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="company-column">Password</label>
                                    <input type="password" id="company-column" class="form-control" name="company-column">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label for="company-column">Password confirm</label>
                                    <input onkeypress="enter_test()" type="password" id="company-column1" class="form-control" name="company-column">
                                </div>
                            </div>
                        </diV>
                                <a href="/">Have an account? Login</a>
                        <div class="clearfix">
                            <input id="chk" class="btn btn-primary" style="float: right; right: 0;"type="button" onclick="register()" value="signup">
                        </div>
                  
                    <div class="divider">
                        <div class="divider-text"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="./assets/js/feather-icons/feather.min.js"></script>
    <!-- <script src="./assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script> -->
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/index.js"></script>
    <script src="./assets/js/mdb.min.js"></script>
    <!-- <script src="assets/js/mdb.min.js.map"></script> -->
    
    <script src="./assets/vendors/chartjs/Chart.min.js"></script>
    <script src="./assets/vendors/apexcharts/apexcharts.min.js"></script>
    <!-- <script src="assets/js/pages/dashboard.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="./assets/js/main.js"></script> -->
    <script type="text/javascript" src="./assets/DataTables/datatables.min.js"></script>
</body>

</html>
