.form-elegant .font-small {
  font-size: 0.8rem; }
  
.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.text-center .mb-3 .login-btn1{

  color:white;
  background: rgb(105,163,255);
  background: linear-gradient(162deg, rgb(91, 171, 236) 30%, rgba(43,125,254,1) 50%, rgb(6, 59, 143) 100%);
}

.list1{
  height: 60px;
}

.list1_a{
  display:block; 
  color:white;
}


@media(max-width:1220px){
  .img_wantreez{ width: 500px; padding-top: 50px;}
}

