
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  
  }
.table-wrapper-scroll-y {
display: block;
}

#table1{table-layout: fixed;}
#table2{table-layout: fixed;}


#lbs9{display: none;}
@media(max-width: 500px){
  #lbs9{display: block;}
 

}

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }

#sidebar-headbox{
  border-bottom: 2px solid grey;
}

@media(max-width: 450px){
  .dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalVerticalExample tr, th, td {
    white-space: nowrap;
    font-size: 7pt;
   
  
    }
    #lbs2{padding-left:10px; font-size:6pt; padding-right:10px; }
    #lbs3{padding-left:15px; font-size: 6pt; padding-right:15px; }
    #lbs4{ padding-left:10px;font-size: 6pt;padding-right:10px; }
    #mid2{display: none;}
    #version2{display: none;}
    #recentLog2{display: none;}
    #src2{display: none;}
    tr > #mid3{display: none;}
    tr > #version3{display: none;}
    tr > #recentLog3{display: none;}
    tr > #hardSerial3{display: none;}
    tr > #chpwd3{display: none;}
    tr > #src3{display: none;}
    th > #br1{display: block;}
    th > #br2{display: block;}
    div > #hardserial{display: block;}
    div > #detailBox{display:block;}
    #mobile_hdsr{display: none;}
    #mobile_hdsr1{display: none;}
    div > #hds1{display: block;}
    div > #pwc1{display: block;}
   
    #stora{width:150px;
    padding-right: 20px;}
    #stora1{width:150px;
      padding-right: 20px;}
    div > #modal2{display: block; margin-right: 5px; font-size: 6pt; padding-bottom: 11px;}
    div > #modal1{display: none;}
    div > #titleimg{width: 100vw;}
    div > #lbs4{margin-left: 20px;}
    .header_title{display: none;}
    #set1{display: none;}
    #set3{display: none;}
    #set4{display: none;}
    #set5{display: none;}
    #setmId{display: none;}
    #setId{display: none;}
    #setVr{display: none;}
    /* #setrelog{display: none;} */
    tbody > #setrelog1{padding-right: 50px;}
    /* #set2{width:120px;}
    #set6{width: 140px;} */
    #settopName{display: none;}
    #settop1{width: 92%; float: left; height: 60px; line-height: 20px;} 
    #settop2{width: 92%; float: left; margin-left: 3.5vw; height: 60px; line-height: 20px;}
    #settop3{width: 92%; float: left; margin-left: 3.5vw; height: 60px; line-height: 20px;}
    #settop4{width: 92%; float: left; margin-left: 3.5vw; height: 60px; line-height: 20px;}
    #settop5{width: 92%; float: left; margin-left: 3.5vw; height: 60px; line-height: 20px;}
    div > #ch_update_log_list{height: 100px; font-size: 12pt;}
    #xx6{display: none;}
    div > #modalIn{font-size: 8pt;}
    div > #modalIn2{font-size: 8pt; }
    div > #modalIn1{font-size: 8pt; height: 31px; }
    #member_name3{display: none;}
    div > #mainHome{font-size: 25pt;}
   
}

@media(max-width: 321px){
  #stora1{
    height: 35px; 
    width: 100px;}
    #stora2{
      vertical-align: text-bottom;
      width: 80px;
      height: 35px;
      padding: 0 -5px 0 -5px;
    }
    #modal2{
      width: 70px;
    }
    #settopSer{
      width: 150px;
    }
    div > #modalIn{font-size: 6.5pt; }
    div > #modalIn2{font-size: 6.5pt;}
    div > #modalIn1{font-size: 6.5pt;  margin-top: 35px; }
    div > #mainHome{font-size: 23pt;}
    
}

#modalIn1{margin-top: 10px; font-size: 8pt;  float:right}
#modalIn{font-size: 8pt;  float:right;}
#modalIn2{font-size: 8pt;  float:right;}
.moDdal1{margin-top: 10px; margin-left:7px;width: 35%; float:left}
#modal2{display: none;}
#br1{display: none;}
#br2{display: none;}
#hardserial{display:none;}
#detailBox{display:none;}
#hds1{display: none;}
#pwc1{display: none;}
#stora3{margin-left: 10px;;}
#modal1{margin-right:25px; margin-bottom: 3px;}
#lbs4{margin-left: 35px; background-color: cornflowerblue; color: white; cursor: pointer;}
#src2{margin-left: 50px;}
#xx1{visibility: hidden;}
#xx2{visibility: hidden;}
#xx3{visibility: hidden;}
#xx4{visibility: hidden;}
#xx5{visibility: hidden;}
#xx6{visibility: hidden;}
#xx7{visibility: hidden;}

#recentLog2{font-size: 10pt;}
#lbs2{background-color: cornflowerblue; color: white;}
#lbs3{background-color: cornflowerblue; color: white; cursor: pointer;}
#update_log{background-color: cornflowerblue; color: white;}
.header_title{margin-top:20px;width: 200px; font-size: 20pt; color: whitesmoke;}
.sidebar-link{transition: box-shadow 0.25s ease-in-out;}
.sidebar-link:hover{box-shadow: 
  inset -10em 0 0 0 #e4ecf0, 
  inset 10em 0 0#e4ecf0;}
#ch_update_log_list{
  width: 100%;
  height: 400px;
  border: 1px solid rgb(160, 154, 154);
  overflow-x: hidden;
  overflow-y: scroll;
}
#ch_update_log_area{
    width: 100%;
    height: 400px;
    border: 1px solid rgb(160, 154, 154);
    overflow-x: hidden;
    overflow-y: scroll;
}
.channelLog{margin-right:40px}

.ch_update_loglist{margin: 0px 30px 0px 10px;}


#settop1{font-size:15pt; padding: 2.5vh 3.5vw 2.5vh 3.5vw; margin-right: 65px; margin-top: 20px; margin-left: 3.5vw; margin-bottom: 20px;}
#settop2{font-size:15pt; padding: 2.5vh 3.5vw 2.5vh 3.5vw; margin-right: 65px;margin-bottom: 20px;}
#settop3{font-size:15pt; padding: 2.5vh 3.5vw 2.5vh 3.5vw; margin-right: 65px;margin-bottom: 20px;}
#settop4{font-size:15pt; padding: 2.5vh 3.5vw 2.5vh 3.5vw; margin-right: 65px;margin-bottom: 20px;}
#settop5{font-size:15pt; padding: 2.5vh 3.5vw 2.5vh 3.5vw; margin-right: 65px;margin-bottom: 20px;}
#mainHome{color:gold; font-weight:bold; margin-top:300px; font-size: 40pt;}
#mainHome1{color:white; margin-top:30%}

