
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
display: block;
}

#lbs9{display: none;}
@media(max-width: 500px){
  #lbs9{display: block;}
 

}
.dtHorizontalVerticalExampleWrapper {
  max-width: 600px;
  margin: 0 auto;
  }
  #dtHorizontalVerticalExample tr, th, td {
    word-break: break-all;
  /* white-space: nowrap; */
  /* font-size: 5pt; */

  }
  /* #lbs2{width: 10px; font-size: 5pt;} */

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }

#sidebar-headbox{
  border-bottom: 2px solid grey;
}

@media(max-width: 450px){
  .dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalVerticalExample tr, th, td {
    white-space: nowrap;
    font-size: 7pt;
   
  
    }
    #lbs2{padding-left:10px; font-size:6pt; padding-right:10px; }
    #lbs3{padding-left:15px; font-size: 6pt; padding-right:15px; }
    #lbs4{ padding-left:10px;font-size: 6pt;padding-right:10px; }
    #mid2{display: none;}
    #version2{display: none;}
    #recentLog2{display: none;}
    #src2{display: none;}
    tr > #mid3{display: none;}
    tr > #version3{display: none;}
    tr > #recentLog3{display: none;}
    tr > #hardSerial3{display: none;}
    tr > #chpwd3{display: none;}
    tr > #name3{display: none;}
    tr > #dou_name3{display: block;}
    tr > #member_name3{display: none;}
    tr > #src3{display: none;}
    th > #br1{display: block;}
    th > #br2{display: block;}
    div > #hardserial{display: block;}
    div > #detailBox{display:block;}
    #mobile_hdsr{display: none;}
    #mobile_hdsr1{display: none;}
    div > #hds1{display: block;}
    div > #pwc1{display: block;}

}


#br1{display: none;}
#br2{display: none;}
#hardserial{display:none;}
#detailBox{display:none;}
#dou_name3{display:none;}
#hds1{display: none;}
#pwc1{display: none;}